#contentScriptBanner {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999;


  background-color: aqua;
  color: black;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

}   